<main>

    <div id="box-principal">
        <div id="box-pendente" class="box-pedidos">
            <div>
                Pendentes
                </div>
            <div>0</div>
        </div>

        <div id="box-aprovado" class="box-pedidos">
            <div>
                Aprovados
            </div>
            <div>0</div>
        </div>

        <div class="box-reprovado" class="box-pedidos">
            <div>
                Reprovados
            </div>
            <div>0</div>
        </div>
    </div>
    
        <table>
            <thead>
                <tr>
                    <th colspan="7">Pedidos</th>
                </tr>
                <tfoot>

                </tfoot>

                <tbody>
                        <tr>
                            <td>Nome do evento</td>
                            <td>Plano</td>
                            <td>Tipo</td>
                            <td>Dia</td>
                            <td>Descrição</td>
                            <td colspan="2">Confirmar evento</td>
                        </tr>
                        <tr>
                            <td>Evento1</td>
                            <td>Salão</td>
                            <td>Casamento</td>
                            <td>20/10/2019</td>
                            <td>Qualquer coisa </td>
                            <td><i class="fas fa-check" id="aceitar"></i></td>
                            <td><i class="fas fa-times" id="recusar"></i></td>
                        </tr>
                </tbody>
            </thead>
        </table>

        <br>
        <br>
        <br>

        <table>
                <thead>
                    <tr>
                        <th colspan="7">Aceitos</th>
                    </tr>
                    <tfoot>
    
                    </tfoot>
    
                    <tbody>
                            <tr>
                                <td>Nome do evento</td>
                                <td>Plano</td>
                                <td>Tipo</td>
                                <td>Dia</td>
                                <td>Descrição</td>
                            </tr>
                            <tr>
                                <td class="a">Evento1</td>
                                <td class="a">Salão</td>
                                <td class="a">Casamento</td>
                                <td class="a">20/10/2019</td>
                                <td class="a">Qualquer coisa </td>
                            </tr>
                    </tbody>
                </thead>
            </table>

            <br>
            <br>
            <br>

            <table>
                    <thead>
                        <tr>
                            <th colspan="7">Recusados</th>
                        </tr>
                        <tfoot>
        
                        </tfoot>
        
                        <tbody>
                                <tr>
                                    <td>Nome do evento</td>
                                    <td>Plano</td>
                                    <td>Tipo</td>
                                    <td>Dia</td>
                                    <td>Descrição</td>
                                </tr>
                                <tr>
                                    <td class="r">Evento1</td>
                                    <td class="r">Salão</td>
                                    <td class="r">Casamento</td>
                                    <td class="r">20/10/2019</td>
                                    <td class="r">Qualquer coisa </td>
                                </tr>
                        </tbody>
                    </thead>
                </table>
    </section>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
</main>